.clear{
	clear: both;
}
body{
	overflow-x: hidden;
}
.mi-wrapper{
	width: 1060px;
	margin: 70px auto 0; /*horizont*/
}
/*модифткатор после основного блока*/
.mi-wrapper-small{
width: 900px;	
}
.mi-header{
	margin-top: 70px;
}
/*ховер делается на ссылку*/
.mi-header-logo:hover{
	opacity: .5;
}
/*транзишн делается на элемент*/
.mi-header-logo{
	transition: ease 1s opacity;
}
.mi-header-list{
	list-style: none;
	padding-left: 0;
	margin: 0;
}
/*флоат делаем для навигации*/
/*отталкиваем картинку вниз*/

.mi-header-nav{
	float: right;
	margin-bottom: 70px;	
}

.mi-header-item{
	display: inline-block;
	padding: 0 60px;
}
.mi-header-item:last-child{
	padding-right: 0;
}
.mi-header-item:first-child{
	padding-left: 0;
}

/*транзишн делается на элемент*/
.mi-header-link{
	text-transform: uppercase;
	text-decoration: none;
	color: #626262;
	font-size: 14px;
	transition: ease .5s color;
	line-height: 24px;
}
/*ховер делается на ссылку*/
.mi-header-link:hover{
color: #000;
}
/*чтобы картинка всегда занимала весь блок*/
.mi-header-image img{
	width: 100%;
	height: auto;
}
/*Diary*/
.mi-tag{
	color: #b4ad9e;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 26px;
	margin-bottom: 0;
}
.mi-title{
	font-size: 30px;
	color: #626262;
	padding: 26px 0;
	margin: 0;
}
.mi-text p{
	margin-top: 0;
	line-height: 24px;
	color: #626262;
	font-size: 14px;

}
.mi-comment{
	text-decoration: none;
}
/*Blog*/
.mi-blog-item-image{
	height: 280px;	/*для примера*/
	overflow: hidden;
}
/*картинка должна быть всегда не больше блока*/
.mi-blog-item-image img{
	min-width: 100%;
	min-height: 100%;

}
.mi-blog-item{
	width: 45%;
float: left;
margin: 70px 0;
}
.mi-blog-item:nth-child(2n+1){
	margin-right: 10%;
}
.mi-blog-item-tag{
	color: #b4ad9e;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 26px;
	margin-bottom: 0;
}
.mi-blog-item-title{
font-size: 30px;
	color: #626262;
	padding: 26px 0;
	margin: 0;
}
.mi-blog-item-text{
margin-top: 0;
	line-height: 24px;
	color: #626262;
	font-size: 14px;
}
.mi-blog-more{
font-size: 20px;
color: #626262;
text-decoration:none;
line-height: 50px;
height: 50px;
white-space: normal;
padding: 0 36px;
border: 1px solid #626262;
display: inline-block;
transition: ease all .5s;
}
.mi-blog-more:hover{
	background-color: #f0f0f0;
	color: blue;
	border: 1px solid blue;
}
.mi-center{
	text-align: center;
}
.mi-blog-newsleter{
	width: 100%;
	float: left;
	text-align: center;
	margin: 70px 0;	
	font-size: 30px;
	background-color: #f0f0f0;
	position: relative;
	bottom: 780px;
}

.mi-blog-newsleter-title{
	font-size: 30px;
}
.mi-blog-newsleter:before{
content:'';
display: block;
position: absolute;
background-color: #f0f0f0;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: -1;
left: -99999px;
right: -99999px;
}

.mi-blog-newsleter:after{
	
}
.mi-footer{
	padding: 40px 0;
	background-color: #f0f0f0;
	margin: 0;


}
.mi-footer-link{
	text-decoration: none;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	margin-bottom: 45px;
}
.mi-footer-link:hover{
	text-decoration: underline;
}
.mi-footer-social{
	text-decoration: none;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	float: right;
	margin: 0;
}
.mi-footer-social a{
	padding: 0 20px;
}
.mi-tag{
	color: #b4ad9e;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 26px;
	margin-bottom: 0;
}
.mi-comments-item__photo img{
border-radius: 50%;
width: 75px;
height: 75px;
}

.mi-comments-item__photo{
float: left;
width: 105px;
}

.mi-comments-item__author{
margin: 0;
padding: 0;
}

.mi-comments-item__info{
float: left;
width: calc(100% - 105px);
margin: 0;
padding: 0;
}
.mi-comments-item__text{
margin: 0;
padding: 0;	
}
.mi-comments-item__reply{
margin: 0;
padding: 0;
}
.mi-comments-item-message{
	padding: 25px 30px;
	height: 70px;
	width: 100%;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	resize: none;
	outline: none;
}
.mi-comments-item-message:focus{
	border: 1px solid green;
}